body {
  scrollbar-color: white white;
  /* Change scrollbar and track color */
}

/* For Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  width: 0px;
  /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;
  /* Track color */
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  /* Scrollbar color */
  border-radius: 10px;
  /* Scrollbar thumb border radius */
}